.item_card {
  background-color: white;
  width: 23%;
  padding: 10px;
  position: relative;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  border-radius: 1px;
  box-shadow: 3px 6px 7px 0px rgb(27, 26, 26);
  display: block;
}

.inventory_image {
  max-width: 100%;
  max-height: 100%;
}

.card_title {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 4px;
  text-decoration: underline;
}

.card_desc {
  margin-top: 3px;
  font-size: 16px;
  margin-bottom: 3px;
  color: black;
  font-weight: bold;
}

.restock_message {
  margin-top: 0;
  color: rgb(255, 24, 24);
  font-weight: bold;
}

.card_label_qty {
  color: black;
  font-weight: bold;
}

.qty_no_style {
  color: black;
  margin-top: 0;
  font-weight: bold;
}

.card_title_total_cost {
  color: black;
  margin-top: 5px;
  margin-bottom: 0px;
}

.card_cost {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
  color: black;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .mobile_hidden {
    display: none;
  }

  .card_title {
    color: rgb(55, 168, 168);
    text-decoration: none;
  }

  .item_card {
    width: 46%;
  }
}
