@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
.container_inventory_list_page {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.inventory_list_main {
  margin-top: 80px;
  width: 100%;
}

.container_tags {
  text-align: center;
  padding-top: 15%;
  width: 100%;
}

.tags_list {
  display: grid;
  grid-template-areas: "left left-mid mid right-mid right";
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: dense;
  max-width: 600px;
  padding-top: 75px;
  padding-left: 0px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  list-style-type: none;
}

.container_btn_show_all {
  margin: 3px auto;
  text-align: center;
}

.btn_show_all {
  text-decoration: none;
  color: black;
  border-radius: 2px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 4px 6px 0px rgb(27, 26, 26);
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.btn_show_all:focus {
  background-color: goldenrod;
}

@media only screen and (max-width: 500px) {
  .container_tags {
    padding-top: 5px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  .tags_list {
    grid-template-areas: "left right";
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3px;
    padding-right: 3px;
  }
}

@media only screen and (width: 568px) {
  .tags_list {
    padding-left: 10px;
    padding-right: 10px;
  }
}
