@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
.container_inventory_list_page {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.inventory_list_main {
  margin-top: 80px;
}

.container_tags {
  text-align: center;
  padding-top: 15%;
  width: 100%;
}

.tags_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: space-evenly;
  padding-top: 75px;
  padding-left: 0px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  list-style-type: none;
}

.btn_show_all {
  text-decoration: none;
  color: white;
  border-radius: 2px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 3px 3px;
  background-color: rgb(161, 48, 48);
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 4px 6px 0px rgb(27, 26, 26);
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.btn_show_all:focus {
  background-color: goldenrod;
  color: rgb(58, 58, 58);
}

@media only screen and (max-width: 500px) {
  .container_tags {
    padding-top: 5%;
  }
}
