.header_register {
  text-align: center;
  padding-top: 50px;
}

.register_btn_container {
  text-align: center;
}

.label_registration {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.login_link {
  text-align: center;
}
