@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", san-serif;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

p {
  color: #555;
}

.blue {
  color: #477acc;
}

.yellow {
  color: #eac435;
}

.green {
  color: #09a55e;
}

.red {
  color: #ca1551;
}

.orange {
  color: #fb4d3d;
}
