.title_add_item_form {
  text-align: center;
  padding-top: 40px;
}

.label_add_item_form {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.label_integer_inputs {
  display: flex;
  margin-bottom: 10px;
}

select {
  display: block;
  width: 85%;
  margin: 10px auto;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
}

.container_btn {
  text-align: center;
}

.btn_cancel {
  padding-bottom: 30px;
}

.container_qty_cost {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: space-between;
  margin: 10px auto;
}

.container_item_units,
.container_item_cost,
.container_item_quantity {
  width: 20%;
}

.integer_inputs {
  border: 1px solid #ddd;
  font-size: 1.1em;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  width: 100%;
}

.error {
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
  color: red;
}

@media only screen and (max-width: 550px) {
  .container_item_units,
  .container_item_cost,
  .container_item_quantity {
    min-width: 100%;
  }
}
