@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
.Input,
textarea {
  border: 1px solid black;
  display: block;
  font-size: 1.1em;
  padding: 10px;
  margin: 10px auto;
  text-align: left;
  width: 85%;
  border-radius: 1px;
  font-family: "Open Sans", sans-serif;
}
/* apply font above */
.Input::placeholder,
.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  resize: none;
}

.Button {
  border: 1px solid #aaa;
  background-color: rgb(107, 49, 49);
  color: white;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 10px;
  font-weight: bold;
  width: 85%;
  cursor: pointer;
}

.Required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  padding-bottom: 10px;
}

.Section--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.Form {
  background-color: white;
  min-height: 600px;
  padding: 0;
  border-radius: 5px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px rgb(32, 32, 32);
}

.NavBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Background {
  background: url("../../images/veggies.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}

@media only screen and (min-width: 767px) {
  .Background {
    height: calc(100vh + 100px);
  }
}

@media only screen and (max-width: 814px) {
  .Background {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 412px) {
  .Background {
    height: calc(100vh + 30px);
  }
}

@media only screen and (min-width: 812px) and (max-width: 823px) {
  .Background {
    height: calc(100vh + 500px);
  }
}

@media only screen and (max-width: 411px) {
  .Background {
    height: calc(100vh + 350px);
  }
}
