@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
.Input,
textarea {
  border: 1px solid black;
  display: block;
  font-size: 1.1em;
  padding: 10px;
  margin: 10px auto;
  text-align: left;
  width: 85%;
  border-radius: 1px;
  font-family: "Open Sans", sans-serif;
}
/* apply font above */
.Input::placeholder,
.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  resize: none;
}

.Button {
  border: 1px solid #aaa;
  background-color: rgb(107, 49, 49);
  color: white;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 10px;
  font-weight: bold;
  width: 85%;
  cursor: pointer;
}

.Required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  padding-bottom: 10px;
}

.Section--list {
  column-count: 4;
  column-gap: 1em;
}

.Form {
  background-color: white;
  min-height: 600px;
  padding: 0;
  border-radius: 5px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 6px 7px 0px rgb(27, 26, 26);
}

.NavBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Background {
  background: url("../../images/veggies.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 50px;
  min-height: 100vh;
  overflow: auto;
}

.BackgroundMain {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/bg-main.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 50px;
  min-height: 100vh;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .Section--list {
    column-count: 2;
    column-gap: 1em;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; */
  }
}

@media only screen and (max-width: 768px) {
  .Section--list {
    margin-left: 3px;
    margin-right: 3px;
  }
}
