.Input,
textarea {
  border: 1px solid #ddd;
  display: block;
  font-size: 1.1em;
  padding: 10px;
  margin: 10px auto;
  text-align: left;
  width: 85%;
  border-radius: 4px;
}

.Input::placeholder,
.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  resize: none;
}

.Button {
  border: 1px solid #aaa;
  background-color: rgb(148, 253, 204);
  color: white;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 10px;
  font-weight: bold;
  width: 85%;
}

.Required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  margin-top: 20px;
}

.Section--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.Form {
  background-color: rgb(117, 121, 122);
  min-height: 600px;
  margin-top: 120px;
  border-radius: 30px;
}

.Logo {
  background-image: url("../../images/icons8-inventory-flow-50.png");
}

.NavBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 50px;
}
